<header>
	<div class="grid-container">
		<div class="grid-80">
			<h2>Hello World</h2>
		</div>
		<div class="grid-20">
			<% if @twitter_user_verified %>
				<p><%= @message %> <a href="<%= @twitter_user.url %>"><%= @twitter_user.name %></a></p>
			<% end %>
		</div>
	</div>
</header>

<div class="hero-bg">
	<div class="hero grid-container">
	    <div class="grid-50">
	        <div class="content">
				<img src="http://farm3.staticflickr.com/2170/1781295679_9a92211e24.jpg">
			</div>
	    </div>
	    <div class="grid-50">
	        <div class="content right-side">
				<a href="auth/sign-in-with-twitter" id="sign-in-with-twitter"><img src="https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png"/>
				</a>
				<%= @goodreads %>
			</div>
	    </div>
	</div>
</div>

<%= debug @twitter_user %>
